.main {
  background-color: white;
  height: 70vh;
  padding: 2% 2% 2% 1%;
  width: 100%;

  .project-image {
    width: 60%;
    height: 40%;
  }

  .title {
    font-size: 20px;
  }

  .description {
    font-size: 12px;
  }

  .skill-image {
    width: 10%;
    aspect-ratio: 1;
  }
}
