.main-container {
  width: fit-content;
  background-color: #151515;

  .image-container {
    display: flex;
    justify-content: center;
    padding-top: 3%;

    img {
      width: 100%;
      aspect-ratio: 1.8;
      align-items: center;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    margin-bottom: 0;

    p {
      margin-top: 3%;
      text-transform: uppercase;
      font-size: 1em;
      color: #fff;
      margin-bottom: 1%;
    }
  }

  .project-description {
    display: flex;
    gap: 5%;
    p {
      color: #fff;
      text-transform: uppercase;
      border-bottom: 3px solid rgb(179, 74, 55);
      font-size: 0.8em;
      cursor: pointer;
    }
    p:hover {
      color: rgb(179, 74, 55);
    }
  }

  .skills {
    display: flex;
    gap: 5%;
    margin: 0;
    padding: 0;

    p {
      color: gray;
      text-transform: uppercase;
    }
  }
}
