.main-container {
  background-color: rgb(11, 19, 35);
  width: fit-content;
  flex-wrap: wrap;
  padding: 15px 35px 15px 15px;

  .title {
    .job-title {
      color: #fff;
    }
    .company {
      color: rgb(81, 233, 194);
    }
  }

  .sub-title {
    color: rgb(131, 141, 175);
  }

  .body {
    color: rgb(131, 141, 175);

    ul {
      list-style-type: none;
    }

    li::before {
      content: "▶";
      margin-right: 2%;
      color: rgb(81, 233, 194);
    }
  }
}
