.main-container {
  .overall-section {
    background: url("../assets/img/header.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;

    .nav-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 25px 15px 0px 15px;

      p {
        color: #fff;
      }
    }

    .links-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2%;
      width: 20%;

      p {
        cursor: pointer;
      }
    }

    .overview-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 15vh;

      hr {
        clear: both;
        display: block;
        width: 15%;
        border: solid 3px rgb(179, 74, 55);
      }
      h1 {
        color: #fff;
      }

      h3 {
        // color: RGB(106, 104, 105);
        color: #fff;
      }

      div {
        padding: 10px 20px 0px 20px;
        border-radius: 25px;
        background-color: rgb(179, 74, 55);
        height: 50px;
        align-items: center;
        display: flex;
        cursor: pointer;

        p {
          color: #fff;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }

  .about-section {
    background-color: rgb(236 235 239);
    height: 80vh;
    padding-top: 70px;

    h2 {
      text-align: center;
      margin-top: 0px;
    }

    .description-container {
      display: flex;
      justify-content: space-around;
      height: 100%;
      width: 100%;
      box-sizing: border-box;

      .skills-container {
        border: 1px solid #fff;
        width: 40px;
        height: 50%;
        width: 15%;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding-left: 10px;
        padding-right: 10px;

        img {
          width: 20%;
          aspect-ratio: 1;
        }
      }

      .about {
        border: 1px solid #fff;
        height: 30%;
        width: 40%;
        margin-top: 70px;
        box-sizing: border-box;

        .top {
          height: 20%;
          background-color: #fff;
          padding-top: 15px;
          padding-left: 15px;
          box-sizing: border-box;
          display: flex;
          gap: 15px;

          .circle {
            height: 40%;
            aspect-ratio: 1;
            border-radius: 50%;
            display: inline-block;
          }
        }

        .content {
          padding-left: 25px;
          padding-top: 45px;
        }
      }
    }
  }

  .project-section {
    background-color: rgb(235, 219, 176);
    height: 60vh;
    padding-top: 70px;

    h5 {
      margin-top: 0px;
      text-align: center;
      text-transform: uppercase;
    }

    .projects-container {
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: 60%;

      .project-card {
        width: 25%;
        cursor: pointer;
      }
    }
  }

  .skills-section {
    background-color: rgb(23, 23, 23);
    height: 40vh;
    padding-top: 40px;

    h5 {
      text-align: center;
      text-transform: uppercase;
      color: white;
    }

    .skills-card-container {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 30%;
      padding-left: 15%;
      padding-right: 15%;
      gap: 2%;
      flex-wrap: wrap;

      .skill-card {
        width: 9%;
        margin-bottom: 20px;
      }
    }
  }
}
