.main-container {
  .overall-section {
    background: url("../assets/img/header.jpeg");
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-bottom: 25%;

    .nav-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 25px 15px 0px 15px;

      p {
        color: #fff;
      }
    }

    .links-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2%;
      width: 30%;

      p {
        cursor: pointer;
        font-size: 0.9em;
      }
    }

    .overview-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 15%;

      hr {
        clear: both;
        display: block;
        width: 15%;
        border: solid 3px rgb(179, 74, 55);
      }
      .name {
        color: #fff;
        font-size: 5em;
      }

      .title {
        // color: RGB(106, 104, 105);
        color: #fff;
        font-size: 2em;
      }

      div {
        padding: 10px 20px 0px 20px;
        border-radius: 25px;
        background-color: rgb(179, 74, 55);
        height: 50px;
        align-items: center;
        display: flex;
        cursor: pointer;

        p {
          color: #fff;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1em;
        }
      }
    }
  }

  .about-section {
    background-color: rgb(236 235 239);
    padding-top: 3%;

    h2 {
      text-align: center;
      margin-top: 0px;
    }

    .description-container {
      display: flex;
      justify-content: space-around;
      padding-bottom: 10%;
      width: 100%;
      box-sizing: border-box;

      .skills-container {
        border: 1px solid #fff;
        height: 70%;
        width: 15%;
        display: flex;
        flex-wrap: wrap;
        gap: 6%;
        padding-left: 1%;
        padding-right: 1%;

        img {
          width: 20%;
          aspect-ratio: 1;
          margin-bottom: 11%;
          margin-top: 10%;
        }
      }

      .about {
        border: 1px solid #fff;
        width: 40%;
        margin-top: 70px;
        box-sizing: border-box;

        .top {
          background-color: #fff;
          padding-top: 1%;
          padding-left: 3%;
          padding-bottom: 1%;
          box-sizing: border-box;
          display: flex;

          .circle {
            // height: 40%;
            width: 2%;
            aspect-ratio: 1;
            border-radius: 50%;
            display: inline-block;
            margin-right: 3%;
          }
        }

        .content {
          padding-left: 25px;
          padding-top: 45px;
        }
      }
    }
  }

  .project-section {
    background-color: rgb(235, 219, 176);
    padding-top: 3%;
    padding-bottom: 7%;

    h5 {
      margin-top: 0px;
      text-align: center;
      text-transform: uppercase;
    }

    .projects-container {
      display: flex;
      justify-content: space-around;
      width: 100%;

      .project-card {
        width: 25%;
        cursor: pointer;
      }
    }
  }

  .skills-section {
    background-color: rgb(23, 23, 23);
    padding-top: 2%;

    p {
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-size: 1.5em;
    }

    .skills-card-container {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 2%;
      padding-left: 15%;
      padding-right: 15%;
      gap: 2%;
      flex-wrap: wrap;

      .skill-card {
        width: 9%;
        margin-bottom: 2%;
      }
    }
  }

  .experience-section {
    background-color: rgb(11, 19, 35);
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    p {
      font-size: 1.5em;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.5em;
      color: #fff;
    }

    .experience-container {
      padding-top: 2%;
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      justify-content: center;
      gap: 5%;
      box-sizing: border-box;

      .experience-list {
        width: 10%;

        .list-title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-left: 3px solid rgb(131, 141, 175);
          padding-bottom: 2%;
          cursor: pointer;

          p {
            margin-top: 5%;
            font-size: 14px;
            color: rgb(131, 141, 175);
          }
        }
      }

      .experience-description {
        width: 30%;
        // height: 300px;
        // border: 1px solid #fff;
      }
    }

    .experience-card {
      width: 40%;
    }
  }

  .view-project-modal {
    width: 100%;
    border: 1px solid red;
  }

  footer {
    background-color: rgb(23, 23, 23);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact {
      display: flex;
      justify-content: center;
      gap: 2%;
      width: 100%;

      img {
        width: 2%;
        cursor: pointer;
      }
    }
  }
}
